/*
PEN.css
Nghia Huynh
Erik Ayavaca-Tirado
Patrick Deng
This file is used to format and change the style of our sections of html.
*/
/* Styles for the tables */
table {
    border: 0;
    width: 100%;
}

th, td {
    border: 0;
    height: 25px;
    text-align: center;
}
/*Styles for the paragraphs on the page*/
p {
    text-align: center;
    font-weight: bolder;
}
/* Styles for highlighted parts of the page.*/
h1{
    text-align: center;
    font-weight: bolder;
    color: white;
}
/* Sets where the contacts div will be */
#contacts {
    float: left;
    width: 25%;
}
/* Sets where the info div will be */
#info, #edit {

    float: right;
    width: 75%;

}
/*Hides the buttons until they are needed*/
#editinfobtn, #saveinfobtn, #deletebtn {
    display: none;
    float: right;
}
/*Used to highlight the chosen contact with a red highlight*/
#chosen{
    background-color: red; 
}
/*Sets color of the page to silver*/
body{
	background-color: silver;
}



